<div class="jumbotron text-center">
	<h1>List All Coffees</h1>
	
	<p>{{ message }}</p>

  <div ng-controller="coffeesController as list">
	<table align="center" valign="middle">
	  <tbody ng-repeat="coffee in coffees | orderBy:'-upvotes'">
        <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign:middle" >
        	<td>
                 <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(coffee._id)"></span>
                 {{coffee.upvotes}}
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign:middle">{{coffee.coffeename}}</span>
         	</td>
            <td>
                <span class="glyphicon glyphicon-euro"></span>
                {{coffee.amount}}
    		</td>
 			<td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign:middle">
                    <button type="button" class="btn btn-default" ng-click="delete(coffee._id)">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                    <button type="button" class="btn btn-default" ng-click="update(coffee)">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </span>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>