<div class="jumbotron text-center">

	<h1>{{ message }}</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-5">
<p>
<table>
	<tr>
		<td>
			<p>
				<i>Time for a rest</i>
				<p>after your busy work!</p>
			<p>Order a coffee now.</p>
			<p>Just click <a href ="#coffeeadd">here</a> to go to the
			add coffee page and enjoy your noon time!</p>
		</td>
		<td><img src="./images/homer.gif"></td>
	</tr>
</table>  
</p>
</div></div>
</div>